.our_agents_area {
    border-top: 1px solid black;
    padding-top: 80px;
    padding-bottom: 130px;
    @media #{$mobile_device} {
        padding-top: 40px;
        padding-bottom: 40px;
    }

   
    .agent_img {
        display: block;
        margin: auto;
    }

    h3 {
        color: #4FB4A8;
        font-size: 45px;
        font-weight: 500;
        @media #{$mobile_device} {
            display: block;
            margin: auto;
            text-align: center;
        }
    }
    img {
        display: block;
        margin: auto;
        width: 300px;
        @media #{$mobile_device} {
            width: 200px;
            padding-bottom: 30px;
        }
    }
}

  